<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="http://bcv-crm/Test/XRMServices/2011/Organization.svc" />
		<add key="username" value="NTNH" />
		<add key="password" value="Elc@1968" />
		<add key="out" value="../../Typings/XRM" />
		<add key="solutions" value="" />
		<add key="web" value="" />
		<!--<add key="jsLib" value="../src/lib" />
    <add key="mfaAppId" value="" />
    <add key="mfaReturnUrl" value=""/>-->
	</appSettings>
</configuration>