$font-xlarge: 1.75rem;
$font-large: 1.125rem;
$font-med: 1rem;
$font-small: 0.875rem;

$white: #ffffff;
$whitegrey: #b9b9b9;
$blue: #2f85fa;
$lightblue: rgb(49, 132, 241);
$grey: #666666;
$darkgrey: #333333;
$style-regular: 400;
$style-semi: 600;